
      <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col">

               <h1 class="texto mb-5">Listar</h1>

               <table class="table table table-bordered border-primary">
                  <thead class="table-warning">
                    <tr>
                      
                      <th scope="col">Usuario</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobil</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Borrar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      
                      <td>Hector Ramirez</td>
                      <td>hj@gmail.com</td>
                      <td>0426789887654</td>
                      <td><i class="fa-solid fa-user-pen text-info"></i></td>
                      <td><i class="fa-solid fa-trash text-danger"></i></td>
                    </tr>
                    <tr>
                      
                      <td>Alejandro Arenales</td>
                      <td>afr@gmail.com</td>
                      <td>04267893425</td>
                      <td><i class="fa-solid fa-user-pen text-info"></i></td>
                      <td><i class="fa-solid fa-trash text-danger"></i></td>
                    </tr>
                    
                  </tbody>
                </table>


            </div>
          </div>
      </div>