
      <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col">

               <h1 class="texto mb-5">Listar</h1>

               <button class="btn btn-dark btn-lg float-end mb-5 me-5" routerLink="/contact">Agregar</button>

               <table class="table table table-bordered border-primary">
                  <thead class="table-warning">
                    <tr>
                      
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Mobil</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Borrar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      
                      <td>Hector </td>
                      <td>Ramirez</td>
                      <td>04147138366</td>
                      <td><i  class="fa-solid fa-user-pen text-info"></i></td>
                      <td><i  class="fa-solid fa-trash text-danger"></i></td>

                    </tr>
                   
                    
                  </tbody>
                </table>


            </div>
          </div>
      </div>