<!--<div class="container mt-5 mb-5  ">

      <div class="row cont">
         <div class="col-lg-8 offset-lg-2">
            <div class="card mt-5">
               <div class="card-body">
                  <h1 class="titulo">Contacto <i class="bi bi-person-lines-fill"></i></h1>
               </div>
            </div>
         </div>
      </div>

    <form class="col-lg-8 " [formGroup]="form" (ngSubmit)="contac()">

    <div class="row justify-content-center">

        <div class="col-lg-6 mt-2 mb-2" >
           <input type="text"  formControlName="nombre"  class="form-control"  maxlength="16" placeholder="Enter First Name">
        </div>

        <div class="col-lg-6 mt-2 mb-2">
            <input type="text"  formControlName="apellido" class="form-control" maxlength="16" placeholder="Enter Last Name">
         </div>

         <div class="col-lg-12 mt-2 mb-2">
            <input type="text"  formControlName="email"  class="form-control" maxlength="16" placeholder="Enter Email ID">
         </div>

         <div class="col-lg-12 mt-2 mb-2">
            <input type="text"  class="form-control" maxlength="14"  formControlName="mobil" placeholder="Enter Mobil">
         </div>

         <div class="col-lg-12 mt-2 mb-2 text-center">
           <button class="btn btn-md btn-dark" type="submit">Submit</button>
         </div>

     </div>
    </form>
</div> -->

<div class="container-fluid ">

  <div class="row">

   <div class="card mt-5 text-center">
      <div class="card-body">

         <h1 class="titulo"> {{titulo}}

            <i class="bi bi-person-lines-fill"></i>

              <div *ngIf="loading" class="spinner-border float-end" role="status">
               <span class="visually-hidden">Loading...</span>
             </div> 

            </h1>
           <span *ngIf="submitted && createTaller.invalid" class="alert alert-primary">Todos los campos son requeridos</span>
         <form [formGroup]="createTaller" (ngSubmit)="agregarEditarUsuario()">
            <div class="input-group input-group-lg mb-3">
               <span class="input-group-text">
                  <i class="fa-solid fa-circle-user"
                  ></i></span>
               <input type="text" 
                class="form-control"
                formControlName="nombre" placeholder="Nombre">
             </div>
   
             <div class="input-group input-group-lg mb-3">
               <span class="input-group-text">
                  <i class="fa-solid fa-user-minus"
                  ></i></span>
               <input type="text" 
               maxlength="25"  class="form-control"
               formControlName="apellido" placeholder="Apellido">
             </div>
   
             <div class="input-group input-group-lg mb-3">
               <span class="input-group-text">
                  <i class="fa-solid fa-mobile-retro"
                  ></i></span>
               <input type="number" 
               maxlength="12"  class="form-control"
               formControlName="mobil" placeholder="Mobil">
             </div>
             <!--Boton-->

             <div class="d-grid gap-2">
               <button  class="btn btn-success btn-lg"  type="submit"><i class="bi bi-send-check"></i>  Enviar</button>
               
             </div>
         </form>
      </div>
   </div>

  </div>

</div>




